Order of alternatives

It was recently pointed out to me that ABNF alternatives as described in section 3.2 of RFC 5234 are **unordered**.
https://tools.ietf.org/html/rfc5234#section-3.2

What this means is that you can't use a first-match-wins algorithm, because all alternatives have the same priority. But this is how the `AlternativeLexer` class is currently implemented.

What are some better ways to parse alternatives, other than first-match-wins?

I added a class `GreedyAlternativeLexer` that implements the following strategy:
1. Try to read each alternative in no particular order
2. Back out of successful matches, but remember the best match
(Greedy matching: the longest match is the best match)
3. Return the best match, or a null reference if none of the alternatives match